$(".modal-body").html("<%= raw j(render :partial => 'route') %>");

var onOrig = 0, onDest = 0;

$('#route-origin-menu li a').click(function() {
    $('#route-origin').html($(this).text() + ' <span class="caret"></span>');
    onOrig = $(this).data("id");
    if ($.trim($('#route-destination').text()) != $.trim('Route Destination')) {
		showRoute($('#mode').text(), onOrig, onDest);
	}
});

$('#route-destination-menu li a').click(function() {
    $('#route-destination').html($(this).text() + ' <span class="caret"></span>');
    onDest = $(this).data("id");
    if ($.trim($('#route-origin').text()) != $.trim('Route Origin')) {
    	showRoute($('#mode').text(), onOrig, onDest);
    }
});

$("#marker_location").focus(function() {
    alert("getin");
    @opp_index = marker.length;
    @map = marker;
    $('#markerSection').html("<%= raw j(render :partial => 'route') %>");
});
