<%= javascript_tag do %>
  window.maps = <%= raw Map.all.to_json %>  
<% end %>

<div id="screenDIV" class="row">
  <div class="col-md-4 col-sm-4 col-lg-4">
    <% @iMarker = (65 + @maps.length - 1).chr;
       @opp_index = 0;
    %>
    <div id="mapSidebar">
      <% @maps.each_with_index do |map, index| %>
        <% @map = map %>
        <% @opp_index =  @maps.length  - 1 - index %>
          <%= render :partial => "sidebar" %>
          <!-- <div class="pinSection" data-remote="true"></div> -->
        <% @iMarker = (@maps.length - 1 + 65 - index - 1).chr %>
      <% end %>
    </div>   
  </div>
  <div class="mapSection col-md-8 col-sm-8 col-lg-8">
    <div id="map-canvas" class="clear-both"></div>
  </div>  
</div>
<%= render partial: "modal" %>