.jqx-switchbutton-label
{
    font-size: 10px !important;
    font-family: Sans-Serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.jqx-switchbutton-label-on
{
    background-color: #F74DA3;
}

.jqx-switchbutton-label-off
{
    background-color: darkgrey;
}