// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "compass";

.google-map-canvas,
.google-map-canvas * { width:100%;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

ul, ul li {
	width: 100%;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
}

#screenDIV img, #map-canvas img { 
  max-width: none;
}

#map-canvas label { 
  width: auto; 
  display:inline; 
}

#screenDIV {
	position: relative;
	margin-top: 1%;
	font-size: 85%;
	font-family: Arial, Helvetica, sans-serif;
}

#screenDIV ul, #screenDIV ul li ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#screenDIV .row {
	margin: 0 !important;
}

#newloc, #newloc:link, #newloc.visited {
	color: white !important;
	vertical-align: middle;
}

#newloc:hover {
	color: lightred !important;
}

#mapSidebar {
	position: relative;
	overflow-y: auto;
	max-height: 510px;
}

div[role=markerSection] {
	margin-bottom: 15px;
}

.markerSectionBgColor {
	background-color: #fcfff4; // Old browsers
	@include filter-gradient(#fcfff4, #e9e9ce, vertical); // IE6-9
	@include background-image(linear-gradient(top, #fcfff4 0%,#e9e9ce 100%));

}

.markerSize {
	width: 30px;
	height: 30px;
}

.markerInfo {
	margin-left: 0px;
}

.markerName {
	font-size: 120%;
	font-weight: bold;
	color: #450104;
}

.markerSize, .markerNameDIV, #route-group {
	margin-left: -15px;
}

.photoIcon {
	margin-left: -35px;
}

.photoIcon:hover {
	opacity: 0.5;
}

.markerMatch {
	font-size: small;
}

#btn_markerDel, #btn_markerDel:link, #btn_markerDel:visited, #btn_markerDel:active,
#btn_markerEdit, #btn_markerEdit:link, #btn_markerEdit:visited, #btn_markerEdit:active {
	font-size: 110% !important;
	background: transparent !important;
	color: blue !important;	
}

#btn_markerDel:hover, #btn_markerEdit:hover {
	font-size: 110% !important;
	background: transparent !important;
	color: purple !important;	
}

#btn_markerEdit {
	margin-right: 20px;	
}

#map-canvas {
	width: 102%;
	height: 530px; 
	border: 2px solid lightgrey;
	margin-left: -15px;
}

.infoboxStyle, .infoboxStyle a:link, .infoboxStyle a:visited, .infoboxStyle a:hover, .gm-addr, .gm-phone {
	font-size: 88% !important;
	font-weight: normal !important;
	font-family: Arial, sans-serif, Franklin Gothic Medium Cond !important;
} 

.gm-title {
	font-weight: bold !important;
	font-size: 100% !important;

	color: white;
	border-radius:  5px;

	background-color: #3f4c6b; // Old browsers
	@include filter-gradient(#3f4c6b, #3f4c6b, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%));

}

.gm-more, .gm-more:link, .gm-more:visited, .gm-more:hover {
	margin-left: 15px !important;
	font-weight: normal;
}

.gm-basicinfo {
	clear:both;
	padding-top: 12px;
}

.gm-addr {
	word-wrap: break-word !important;
}

.gm-website a:link, .gm-website a:visited, .gm-more a:link, .gm-more a:visited {
	color: blue;
    word-wrap: break-word;
}

.gm-website a:hover, .gm-more a:hover {
	color: purple;
	background: transparent !important;
	word-wrap: break-word;
}

.gm-rating {
	color: red;	
	float: left;
	margin-top: 1px;
	margin-right: 2px;
	font-weight: bold !important;
	font-size: 13px !important
}

.gm-stars-b {
	position:relative;
	background-position:0 0;
	width:65px;
	top:3px;
	margin:0 5px
}

.gm-stars-f, .gm-stars-b {
	background:url("https://maps.gstatic.com/mapfiles/api-3/images/review_stars.png") no-repeat;
	background-size: 65px 26px;
	height:13px;
	font-size:0;
	float:left;
}

.gm-stars-f {
	background-position:left -13px;
}

.gm-sv-label {
	cursor:pointer;
	position:absolute;
	bottom:3px;
	color: green;
	font-weight:400;
	text-shadow:rgba(0,0,0,0.7) 0 1px 4px;
}

.gm-sv {
	width: auto;
	height: 60px;
	position: relative;
}

.gm-sv:hover {
	opacity: 1;
}

#svThumbnail {
	width: auto;
	height: 50px;	
}

//.modal {
//	width: 470px;
//	height: 100%;
//}

.modal.fade {
	height: 100%;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.fade.in {
	height: 100%;
	top: -25px;
	left: -63%;
}

.modal-title {
	color: navy !important;
	font-weight: bold;
	text-shadow:5px 5px 10px yellow !important;
}

#option-section {
	display: block;
	width: 100%;
	margin-top: 20px;
	padding-left: 10px;
}

#marker_location {
	width: 100%;
}

#optionmenu-wrapper {
	position: relative;
}

#route-group {
	width: 50%;
	position: absolute;
}

#myloc-wrapper {
	display: block;
	height: 30px;
	position: relative;
	width: 50%;
}

#mode {
	height: 29px;
	width:  80px;	
	margin-right: 10px;
}

#offSelfLoc {
	position: absolute;
	bottom: 0;
}

#offSelfLocIcon {
	position: absolute;
}

#route-origin-menu, #route-destination-menu {
	width: 400px;
}

#route-set{
	width: 324px;
	margin: 0 auto;
}

.pin-size {
	width: 25px;
	height: 25px;
	float: left;
}

.font-small {
	font-size: 88%;
}
.div-inline {
	float: left;
}

.inline {
	display: inline;
}

.clear-both {
	clear:both;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.adp {
	font-size: small;
}

.adp-text {
	padding-left: 25px;
	font-weight: bold;
}

.adp-marker {
	width: 50%;
	height: 50%;
}

span[jsdisplay=duration], span[jsdisplay=distance] {
	font-weight: bold;
	color: blue;
}

