<%# add navigation links to this file %>
<div>
	<a href="#mapModal" role="button" class="btn btn-default btn-sm" data-toggle="modal" data-load-remote="http://fiddle.jshell.net/Sherbrow/bHmRB/0/show/" data-remote-target="#mapModal .modal-body">New Location</a> 
</div>
