<%# add navigation links to this file %>
<!-- <div>
	<a href="#mapModal" role="button" class="btn btn-default btn-sm" data-toggle="modal" data-load-remote="assets/views/maps/location" data-remote-target="#mapModal .modal-body">New Location</a> 
</div> -->
<li data-toggle="collapse" data-target=".nav-collapse"></li>
<li data-toggle="collapse" data-target=".nav-collapse">
	<%= render 'mapmenubar'  %>
</li>
